:root {
	--anim-length: 1.25s;
	--bounce-anim: bounce var(--anim-length) infinite;
	--bounceRot-anim: bounceRot var(--anim-length) infinite;
	--eyesBlink-anim: eyesBlink var(--anim-length) infinite;
	--bounceTail-anim: bounceTail var(--anim-length) infinite;
	--bounceTailSVG-anim: bounceTailSVG var(--anim-length) infinite;
}

body {
	margin: 0px;
	font-family: Helvetica;
	background-color: #FAFAFA;
	max-width: 600px;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.animationDiv {
	position: relative;
	float: left;
}

.animationDiv h3 {
	text-align: center;
}

.animationHolder {
	position: relative;
	border: 1px solid #DADADA;
	box-sizing: border-box;
	width: 300px;
	height: 350px;
	float: left;
}

.bouncingBallAnim {
	position: absolute;
	left: 50%;
	margin-left: -25px;
	top: 25px;
	width: 50px;
	height: 50px;
	-ms-animation: bounce 1.25s infinite; /* no vars in IE.... */
	-webkit-animation: var(--bounce-anim);
	animation: var(--bounce-anim);
	-webkit-transform-origin: bottom;
	-ms-transform-origin: bottom;
	transform-origin: bottom;
}

.ballCentered {
	transform-origin: 25px 25px;
	animation: var(--bounceRot-anim);
}

.bouncingBallDiv {
	background-color: #bea8ea;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	position: absolute;
	z-index: initial;
}


.eyeDiv {
	background-color: #EEE;
	position: absolute;
	width: 4px;
	height: 18px;
	border-radius: 5px;
	animation: var(--eyesBlink-anim);
}

.eyeDiv.left {
	top: 15px;
	left: 30px;
}

.eyeDiv.right {
	top: 16px;
	left: 37px;
	height: 17px;
}

.bouncingTailDiv {
	background-color: #8898ea;
	width: 15px;
	height: 10px;
	border-radius: 5px 0px 0px 5px;
	position: absolute;
	margin-left: -12px;
	z-index: -5;
	-ms-animation: bounceTail 1.25s infinite; /* no vars in IE.... */
	-webkit-animation: var(--bounceTail-anim);
	animation: var(--bounceTail-anim);
	-webkit-transform-origin: right;
	-ms-transform-origin: right;
	transform-origin: right;
}

.groundLineDiv {
	position: absolute;
	background-color: #000;
	top: 325px;
}

svg {
	width: 100%;
	height: 100%;
}

svg .bouncingBallOffset {
	-webkit-transform: translate(150px, 75px);
	-ms-transform: translate(150px, 75px);
	transform: translate(150px, 75px);
}
svg .bouncingBallPosition {
	-webkit-transform: translate(-150px, -75px);
	-ms-transform: translate(-150px, -75px);
	transform: translate(-150px, -75px);
	-webkit-animation: var(--bounce-anim);
	animation: var(--bounce-anim);
}

svg .bouncingBallSVG {
	fill: #bea8ea;
}

svg .bouncingTailPosition {
	-webkit-transform: translate(-10px, -25px);
	-ms-transform: translate(-10px, -25px);
	transform: translate(-10px, -25px);
}

svg .bouncingTailSection {
	animation: var(--bouncTail-anim);
	-webkit-transform: translate(-12px, 0px) rotate(-10deg);
	transform: translate(-12px, 0px) rotate(-10deg);
	-ms-animation: bounceTail 1.25s infinite; /* no vars in IE.... */
	-webkit-animation: var(--bounceTailSVG-anim);
	animation: var(--bounceTailSVG-anim);
}

svg .bouncingTailSVG {
	stroke: #8898ea;
	stroke-linecap: round;
	stroke-width:10px;
}

.description {
	clear: both;
	width: 100%;
	text-align: center;
	font-size: 14px;
}