#wrapper {
	width: 360px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.grid-row {
	height: 30px;
	width: 360px;
	margin: 0px;
}

.square {
	height: 30px;
	width: 30px;
	background-color: #F00;
	position: relative;
	float: left;
	transition: background-color 3s;
}
.square:hover {
	background-color: #00F;
	transition-duration: .2s;
}

.instructions p {
	text-align: center;
	font-size: 14px;
}