body {
	margin: 0px;
	font-family: Helvetica;
	background-image: url("../img/FloatingSquares.png");
	background-position: 50% 0%;
	background-repeat: no-repeat;
}

#wrapper {
	width: 360px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.row {
	height: 30px;
	width: 360px;
	margin: 0px;
}

.square {
	height: 30px;
	width: 30px;
	background-color: #F00;
	position: relative;
	float: left;
	transition: background-color 3s;
	#background-image: url(./images/papertexture_1.png);
}
.square:hover {
	background-color: #00F;
	transition-duration: .2s;
}

#instructions {
	text-align: center;
	font-size: 14px;
}