body {
	margin: 0px;
	font-family: Helvetica;
	background-image: url("img/FloatingSquares.png");
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-color: #FAFAFA
}

#wrapper {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

ul {
	padding-left: 25px;
	font-family: monospace;
	padding-bottom: 3px;
}

ul li {
	list-style-type: none;
}

.title {
	text-align: center;
	font-size: 25px;
	margin-top: 0px;
}

.curlyTitle {
	font-size: 65px;
	font-weight: normal;
}
.curlyTitle:first-child {
	margin: 0 15px 0 0;
}
.curlyTitle:last-child {
	margin: 0 0 0 15px;
}

.linkList {
	overflow: hidden;
	position: relative;
	border-top: 1px solid #DADADA;
	border-bottom: 1px solid #DADADA;
}

#listHoverMarker {
	width: 15px;
	height: 3px;
	background-color: #FC0303;
	position: absolute;
	top: 8px;
	left: 4px;
	transition: top .1s;
}

.description {
	padding: 10px;
	text-align: justify;
	line-height: 1.3
}